@import "node_modules/bootstrap/scss/functions";

$theme-colors: (
  "secondary": #2E3136,
  "primary": #4668da,
  "bg": #36393F,
  "tertiary": #2B2C31,
  "darkest": #202225,
  "base": #dcddde,
  "darkBase": #373a3e,
  "danger": #dc3545,
  "black": #000
);
$black: #000;
$white: #FFF;
$theme-color-interval: 8%;
$border-color: theme-color("darkest");
$input-bg: theme-color("darkBase");
$input-group-addon-bg: theme-color("darkBase");
$input-border-color: theme-color("darkest");
$input-color: theme-color("base");
$form-feedback-invalid-color: theme-color("danger");
$input-focus-bg: rgba(theme-color("primary"),0.05);
$custom-select-indicator-color: #fff;
$custom-select-color: theme-color("base");
$input-disabled-bg: theme-color-level("darkBase", 5);
$custom-select-disabled-bg: theme-color-level("darkBase", 5);
$card-bg: rgba(theme-color("base"),0.05);
$card-border-color: theme-color("darkest");
$list-group-bg: transparent;
$dropdown-bg: theme-color("secondary");
$dropdown-border-color: theme-color("darkest");
$dropdown-link-hover-color: theme-color("base");
$dropdown-link-color: theme-color("base");
$dropdown-link-hover-bg: theme-color("bg");
$dropdown-link-active-color: theme-color("white");
$dropdown-link-active-bg: theme-color("primary");
@import "node_modules/bootstrap/scss/variables";