{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 11 }
        }]
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 11 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-transform-modules-commonjs", "@babel/plugin-syntax-dynamic-import"]
}
