@import "./vars.scss";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import './multiselect.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  color: theme-color("base")
}
#closeBar {
  -webkit-app-region: drag;
  height: 20px;
  position: fixed;
  width: 100vw;
  top:0px;
  left:0px;
  z-index: 99999;
}
#app {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: theme-color("bg");
}
.fixed-row-bottom { 
  position: fixed;
  bottom: 0;
  left: 15px;
  width: 100vw;
}
.form-control.is-invalid {
  border-color: var(--danger);
}
.form-control:focus {
  color: theme-color("base");
}
.form-control:disabled {
  cursor: not-allowed;
}
button[disabled="disabled"] {
  cursor: not-allowed;
}
.custom-file-label::after {
  background: theme-color("primary");
}
.modal-content {
  background: theme-color("secondary");
}
.modal-content > .modal-header {
  color: theme-color("base");
}
.close {color:theme-color("base");}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {color: theme-color("base");}
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.scroller {
  overflow-y: scroll;
  min-height: 0px;
}
.scroller::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
.scroller::-webkit-scrollbar-corner {
  background: transparent;
}
.scroller::-webkit-scrollbar-thumb {
  background: $gray-700;
  border: 2px solid transparent;
  cursor: move;
  visibility: hidden;
  background-clip: padding-box;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroller::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid transparent;
  visibility: hidden;
  background-clip: padding-box;
}
.scroller:hover::-webkit-scrollbar-track {
  visibility: visible;
}
.nav-tabs {
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-tabs>li {
  float: none;
}