$theme-colors: (
  "secondary": #2E3136,
  "primary": #7289da,
  "bg": #36393F,
  "tertiary": #2B2C31,
  "base": #dcddde
);
:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  color: theme-color("base")
}
#closeBar {
  -webkit-app-region: drag;
  height: 25px;
  position: fixed;
  width: 100vw;
  top:0px;
  left:0px;
  z-index: 99999;
}
#app {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: theme-color("bg");
}
.fixed-row-bottom { 
  position: fixed;
  bottom: 0;
  left: 15px;
  width: 100vw;
}
.form-control {
  background: rgba(theme-color("base"),0.05);
  color: theme-color("base");
}
.form-control.is-invalid {
  border-color: var(--danger);
  background: rgba(theme-color("danger"), 0.05);
}
.form-control:focus {
  background: rgba(theme-color("primary"), 0.05);
  color: theme-color("base");
}
.form-control:disabled {
  background: rgba(233, 236, 239, 0.15);
  cursor: not-allowed;
}
button[disabled="disabled"] {
  cursor: not-allowed;
}
.custom-file-input {
  height: calc(2.875rem + 2px);
  cursor: pointer;
  text-indent: -999px;
}
.custom-file-label {
  background: rgba(255, 255, 255, 0.05);
  color: theme-color("base");
  height: calc(2.875rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.custom-file-label::after {
  background: theme-color("primary");
  color: theme-color("base");
  height: calc(2.81rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-color: theme-color("primary");
}
.modal-content {
  background: theme-color("secondary")
}
.modal-content > .modal-header {
  color: theme-color("base");
}
.close {color:theme-color("base");}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {color: theme-color("base");}
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.scroller {
  overflow-y: scroll;
  min-height: 0px;
}
.scroller::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
.scroller::-webkit-scrollbar-corner {
  background-color: transparent;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: theme-color("tertiary");
  border: 2px solid transparent;
  cursor: move;
  visibility: hidden;
  background-clip: padding-box;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroller::-webkit-scrollbar-track {
  background-color: transparent;
  border: 2px solid transparent;
  visibility: hidden;
  background-clip: padding-box;
}
.scroller:hover::-webkit-scrollbar-track {
  visibility: visible;
}
